.tabContent {
    height: calc(90vh - 0.4rem - 1.5rem - 0.5rem - 1.5rem - 2px - 1rem - 2.5rem - 1rem - 1rem);
    overflow-y: auto;
}

.tabContainer > div{
    height: 100%;
}

.tabContainer :global(.p-tabview-panels) {
    padding: 0;
}