/* Расстояние между кнопками в фильтре Принять Отменить */
.p-column-filter-buttonbar {
    gap: 10px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    /* font-weight: bold; */
}

.p-timeline-event-opposite {
    max-width: 0px;
}

.p-fileupload-content, .p-fileupload .p-fileupload-row > div {
    padding: 0px !important;
}

.p-speeddial-button {
    width: 4rem !important;
}